@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Oleo+Script&family=Oswald:wght@300&family=Roboto+Condensed&family=Space+Mono&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu TAS Beginner', cursive;
  font-family: 'Oleo Script', cursive;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Space Mono', monospace;
  font-family: 'Urbanist', sans-serif;
  
}
:root{
  --bluePrimary:#1b65a7;
  --lightColor:#f0f4f5;
  --whiteColor:#ffffff;
  --blackColor:#040615;
}
.navbar-Container{
  display: flex;
  justify-content: space-between;
  width: 100wh;
  background-color: var(--bluePrimary);
  color: var(--whiteColor);
  height: 10vh;
}
.navbar-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  font-size: 24px;
  
}

.navbar-btn{
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-right: 15%;
}
.navbar-btn button{
  display: flex;
  padding: 8px;
  border: none;
  background-color: var(--bluePrimary);
  color: var(--lightColor);
  font-size: 20px;
  font-weight:700;
}

.btn-mid{
  margin:0px 20px;
}
.navbar-btn button:hover{
  transform: scale(1.2);
  text-decoration: underline 2px var(--lightColor);

}
.aboutUs-Container{
  height: 90vh;
  display: flex;
  align-items: center;
  margin: 0 15%;
}